.table {
  th,td{
    padding: 3px 9px !important;
    vertical-align: middle !important;
    text-align: center;
  }
  th{
    background-color: rgba(0,0,0,0.2);
  }
  tr{
    &.halt{
      background-color: rgba(0,0,0,0.15);
    }
  }
}
